<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <script>
    var handleClick = () =>
    { 
      window.parent.postMessage( JSON.stringify( { 'action': 'DONE' } ), '*' );
      // window.top.location.href = "http://example.com";
      document.location.href = "https://google.com";
    }
    </script>
  <div class="alert alert-success" role="alert">Quote Succesfully Created</div>
  <button type="button" class="btn btn-primary" onclick="handleClick()">Close And Refresh</button>
  </div>
</body>