<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <form action="/create-quote" method="POST" >
      <legend>Quote Details</legend>
      <div class="row">
      <div class="col col-md-6">
        <div class="form-group">
          <label for="quote_name">Quote Name</label>
          <input type="text" class="form-control" id="quote_name" name="quote_name" aria-describedby="emailHelp" placeholder="Quote Name">        
        </div>
       
      <div class="col col-md-6"></div>
      </div>
      <input type="hidden" id="dealId" name="dealId" value=<%= dealId %>>
    
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-primary" onclick="window.parent.postMessage(JSON.stringify({'action': 'DONE'}), '*')">Close</button>
  </form>
</body>

</html>